{
    "port"		: "8011",
    "development"	: "true",
    "host"      : "localhost",
    "dbhost"     	: "odonoghuelab.org",
    "dbuser"     	: "root",
    "dbpassword" 	: "[yourPassword]",
    "database" 	: "Aquaria",
    "major_version"	: "1",
    "minor_version"	: "0",
    "googleHostedService" : "",
    "googleAnalyticsID" : "[your analytics ID]",
    "googleAnalyticsHostname" : "[your analytics hostname]",
    "lastDatabaseUpdate": "Feb 2015"
}
