doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js').  
  script(src='../javascripts/save_non_dark_regions.js').        
body
  h1= title
  p Started Saving Regions: #{startTime}
  table
    thead
        tr
            td Processed
            td Completed
    tbody(id='progress')
  script(type='text/javascript').
      check_progress();
